DotNet/Laskin/.vscode/launch.json
DotNet/Laskin/.vscode/tasks.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.deps.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.dll
DotNet/Laskin/bin/Debug/net7.0/Laskin.exe
DotNet/Laskin/bin/Debug/net7.0/Laskin.pdb
DotNet/Laskin/bin/Debug/net7.0/Laskin.runtimeconfig.json
DotNet/Laskin/obj/Laskin.csproj.nuget.dgspec.json
DotNet/Laskin/obj/Laskin.csproj.nuget.g.props
DotNet/Laskin/obj/Laskin.csproj.nuget.g.targets
DotNet/Laskin/obj/project.assets.json
DotNet/Laskin/obj/project.nuget.cache
DotNet/Laskin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/Laskin/obj/Debug/net7.0/apphost.exe
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfo.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfoInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.assets.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.AssemblyReference.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.CoreCompileInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.FileListAbsolute.txt
DotNet/Laskin/obj/Debug/net7.0/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/Laskin.GeneratedMSBuildEditorConfig.editorconfig
DotNet/Laskin/obj/Debug/net7.0/Laskin.genruntimeconfig.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.GlobalUsings.g.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.pdb
DotNet/Laskin/obj/Debug/net7.0/ref/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/refint/Laskin.dll
DotNet/WebApiTesti/.vscode/launch.json
DotNet/WebApiTesti/.vscode/tasks.json
DotNet/WebApiTesti/obj/project.assets.json
DotNet/WebApiTesti/obj/project.nuget.cache
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.dgspec.json
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.props
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.targets
DotNet/WebApiTesti/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfo.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfoInputs.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.assets.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.AssemblyReference.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GeneratedMSBuildEditorConfig.editorconfig
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GlobalUsings.g.cs
DotNet/WebApiTesti/bin/Debug/net7.0/appsettings.Development.json
DotNet/WebApiTesti/bin/Debug/net7.0/appsettings.json
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.OpenApi.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.deps.json
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.dll
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.exe
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.pdb
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.runtimeconfig.json
.gitignore
DotNet/WebApiTesti/obj/Debug/net7.0/apphost.exe
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets.build.json
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.CopyComplete
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.CoreCompileInputs.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.FileListAbsolute.txt
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.genruntimeconfig.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.MvcApplicationPartsAssemblyInfo.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.MvcApplicationPartsAssemblyInfo.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.pdb
DotNet/WebApiTesti/obj/Debug/net7.0/ref/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/refint/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.build.WebApiTesti.props
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WebApiTesti.props
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WebApiTesti.props
DotNet/WebApiTesti/bin/Debug/net7.0/Azure.Core.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Azure.Identity.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Identity.Client.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Memory.Data.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Runtime.Caching.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Security.Permissions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Windows.Extensions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/PalkanlaskentaDataMuunnos/.vs/PalkanlaskentaDataMuunnos
/DotNet/PalkanlaskentaDataMuunnos/PalkanlaskentaDataMuunnos/obj
/DotNet/PalkanlaskentaDataMuunnos/PalkanlaskentaDataMuunnos/bin/Debug/net7.0
/DotNet/LokitusDemo/.vs/LokitusDemo
/DotNet/LokitusDemo/LokitusDemo/obj
/DotNet/PalkanlaskentaDataMuunnos/.vs/ProjectEvaluation
/DotNet/LokitusDemo/LokitusDemo/bin/Debug/net7.0
/DotNet/LokitusDemo/.vs/ProjectEvaluation
/DotNet/XmlKaavaJaValidiointi/.vs/XmlKaavaJaValidiointi
/DotNet/XmlKaavaJaValidiointi/XmlKaavaJaValidiointi/obj
/DotNet/XmlKaavaJaValidiointi/XmlKaavaJaValidiointi/bin/Debug/net7.0
/DotNet/XmlIntegraatioDemo/.vs/XmlIntegraatioDemo
/DotNet/XmlIntegraatioDemo/XmlIntegraatioDemo/bin/Debug/net7.0
/DotNet/XmlIntegraatioDemo/XmlIntegraatioDemo/obj
/DotNet/XmlKaavaJaValidiointi/.vs/ProjectEvaluation
/DotNet/XmlIntegraatioDemo/.vs/ProjectEvaluation
/DotNet/XsltMuunnokset/.vs/XsltMuunnokset
/DotNet/XsltMuunnokset/XsltMuunnokset/bin/Debug/net7.0
/DotNet/XsltMuunnokset/XsltMuunnokset/obj
DotNet/XsltMuunnokset/.vs/ProjectEvaluation/xsltmuunnokset.projects.v7.bin
DotNet/XsltMuunnokset/.vs/ProjectEvaluation/xsltmuunnokset.metadata.v7.bin
Python/FlaskApiDemo/__pycache__/app.cpython-311.pyc
/DotNet/WebApiDemo/.vs/WebApiDemo
/DotNet/WebApiDemo/WebApiDemo/bin/Debug/net7.0
/DotNet/WebApiDemo/WebApiDemo/obj
DotNet/EntityFrameworkWebApi/.vscode/launch.json
DotNet/EntityFrameworkWebApi/.vscode/tasks.json
DotNet/EntityFrameworkWebApi/obj/EntityFrameworkWebApi.csproj.nuget.dgspec.json
DotNet/EntityFrameworkWebApi/obj/EntityFrameworkWebApi.csproj.nuget.g.props
DotNet/EntityFrameworkWebApi/obj/EntityFrameworkWebApi.csproj.nuget.g.targets
DotNet/EntityFrameworkWebApi/obj/project.assets.json
DotNet/EntityFrameworkWebApi/obj/project.nuget.cache
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.AssemblyInfo.cs
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.AssemblyInfoInputs.cache
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.assets.cache
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.csproj.AssemblyReference.cache
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.GeneratedMSBuildEditorConfig.editorconfig
DotNet/EntityFrameworkWebApi/obj/Debug/net7.0/EntityFrameworkWebApi.GlobalUsings.g.cs
/DotNet/EntityFrameworkWebApi/bin/Debug/net7.0
/DotNet/EntityFrameworkWebApi/obj
/DotNet/NServiceBus/AlustaDemo/.vs
/DotNet/NServiceBus/AlustaDemo/.vscode
/DotNet/NServiceBus/AlustaDemo/bin/Debug/net7.0
/DotNet/NServiceBus/AlustaDemo/obj
/DotNet/NServiceBus/RetailDemo/.vs/RetailDemo
/DotNet/NServiceBus/RetailDemo/.vscode
/DotNet/NServiceBus/RetailDemo/Billing/bin/Debug/net6.0
/DotNet/NServiceBus/RetailDemo/Billing/obj
/DotNet/NServiceBus/RetailDemo/ClientUI/bin/Debug/net6.0
/DotNet/NServiceBus/RetailDemo/ClientUI/obj
/DotNet/NServiceBus/RetailDemo/Messages/bin/Debug/net6.0
/DotNet/NServiceBus/RetailDemo/Messages/obj
/DotNet/NServiceBus/RetailDemo/Platform/bin/Debug/net6.0
/DotNet/NServiceBus/RetailDemo/Platform/obj
/DotNet/NServiceBus/RetailDemo/Sales/bin/Debug/net6.0
/DotNet/NServiceBus/RetailDemo/Sales/obj
/DotNet/AzureBlobDemo/.vs/AzureBlobDemo
/DotNet/AzureBlobDemo/AzureBlobDemo/bin/Debug/net7.0
/DotNet/AzureBlobDemo/AzureBlobDemo/obj
/JavaScript/AmqpTesti/node_modules
/DotNet/NServiceBus/RetailDemo/.vs/ProjectEvaluation
/DotNet/AzureBlobDemo/.vs/ProjectEvaluation
/DotNet/AzureFunctionAppDemo/.vs/AzureFunctionAppDemo
/DotNet/AzureFunctionAppDemo/.vs/ProjectEvaluation
/DotNet/CosmosDbDemo/.vs/CosmosGettingStarted
/DotNet/CosmosDbDemo/CosmosGettingStartedTutorial/bin/Debug/netcoreapp3.1
/DotNet/CosmosDbDemo/CosmosGettingStartedTutorial/obj
/DotNet/CosmosDbDemo/.vs/ProjectEvaluation
/DotNet/EntityFrameworkWebApi/.vs/EntityFrameworkWebApi
/DotNet/EntityFrameworkWebApi/EntityFrameworkWebApi.csproj.user
