DotNet/Laskin/.vscode/launch.json
DotNet/Laskin/.vscode/tasks.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.deps.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.dll
DotNet/Laskin/bin/Debug/net7.0/Laskin.exe
DotNet/Laskin/bin/Debug/net7.0/Laskin.pdb
DotNet/Laskin/bin/Debug/net7.0/Laskin.runtimeconfig.json
DotNet/Laskin/obj/Laskin.csproj.nuget.dgspec.json
DotNet/Laskin/obj/Laskin.csproj.nuget.g.props
DotNet/Laskin/obj/Laskin.csproj.nuget.g.targets
DotNet/Laskin/obj/project.assets.json
DotNet/Laskin/obj/project.nuget.cache
DotNet/Laskin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/Laskin/obj/Debug/net7.0/apphost.exe
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfo.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfoInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.assets.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.AssemblyReference.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.CoreCompileInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.FileListAbsolute.txt
DotNet/Laskin/obj/Debug/net7.0/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/Laskin.GeneratedMSBuildEditorConfig.editorconfig
DotNet/Laskin/obj/Debug/net7.0/Laskin.genruntimeconfig.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.GlobalUsings.g.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.pdb
DotNet/Laskin/obj/Debug/net7.0/ref/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/refint/Laskin.dll
DotNet/WebApiTesti/.vscode/launch.json
DotNet/WebApiTesti/.vscode/tasks.json
DotNet/WebApiTesti/obj/project.assets.json
DotNet/WebApiTesti/obj/project.nuget.cache
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.dgspec.json
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.props
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.targets
DotNet/WebApiTesti/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfo.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfoInputs.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.assets.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.AssemblyReference.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GeneratedMSBuildEditorConfig.editorconfig
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GlobalUsings.g.cs
