DotNet/Laskin/.vscode/launch.json
DotNet/Laskin/.vscode/tasks.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.deps.json
DotNet/Laskin/bin/Debug/net7.0/Laskin.dll
DotNet/Laskin/bin/Debug/net7.0/Laskin.exe
DotNet/Laskin/bin/Debug/net7.0/Laskin.pdb
DotNet/Laskin/bin/Debug/net7.0/Laskin.runtimeconfig.json
DotNet/Laskin/obj/Laskin.csproj.nuget.dgspec.json
DotNet/Laskin/obj/Laskin.csproj.nuget.g.props
DotNet/Laskin/obj/Laskin.csproj.nuget.g.targets
DotNet/Laskin/obj/project.assets.json
DotNet/Laskin/obj/project.nuget.cache
DotNet/Laskin/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/Laskin/obj/Debug/net7.0/apphost.exe
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfo.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.AssemblyInfoInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.assets.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.AssemblyReference.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.CoreCompileInputs.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.csproj.FileListAbsolute.txt
DotNet/Laskin/obj/Debug/net7.0/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/Laskin.GeneratedMSBuildEditorConfig.editorconfig
DotNet/Laskin/obj/Debug/net7.0/Laskin.genruntimeconfig.cache
DotNet/Laskin/obj/Debug/net7.0/Laskin.GlobalUsings.g.cs
DotNet/Laskin/obj/Debug/net7.0/Laskin.pdb
DotNet/Laskin/obj/Debug/net7.0/ref/Laskin.dll
DotNet/Laskin/obj/Debug/net7.0/refint/Laskin.dll
DotNet/WebApiTesti/.vscode/launch.json
DotNet/WebApiTesti/.vscode/tasks.json
DotNet/WebApiTesti/obj/project.assets.json
DotNet/WebApiTesti/obj/project.nuget.cache
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.dgspec.json
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.props
DotNet/WebApiTesti/obj/WebApiTesti.csproj.nuget.g.targets
DotNet/WebApiTesti/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfo.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.AssemblyInfoInputs.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.assets.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.AssemblyReference.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GeneratedMSBuildEditorConfig.editorconfig
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.GlobalUsings.g.cs
DotNet/WebApiTesti/bin/Debug/net7.0/appsettings.Development.json
DotNet/WebApiTesti/bin/Debug/net7.0/appsettings.json
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.OpenApi.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.deps.json
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.dll
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.exe
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.pdb
DotNet/WebApiTesti/bin/Debug/net7.0/WebApiTesti.runtimeconfig.json
.gitignore
DotNet/WebApiTesti/obj/Debug/net7.0/apphost.exe
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets.build.json
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.CopyComplete
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.CoreCompileInputs.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.csproj.FileListAbsolute.txt
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.genruntimeconfig.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.MvcApplicationPartsAssemblyInfo.cache
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.MvcApplicationPartsAssemblyInfo.cs
DotNet/WebApiTesti/obj/Debug/net7.0/WebApiTesti.pdb
DotNet/WebApiTesti/obj/Debug/net7.0/ref/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/refint/WebApiTesti.dll
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.build.WebApiTesti.props
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.WebApiTesti.props
DotNet/WebApiTesti/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.WebApiTesti.props
DotNet/WebApiTesti/bin/Debug/net7.0/Azure.Core.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Azure.Identity.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Identity.Client.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
DotNet/WebApiTesti/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Memory.Data.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Runtime.Caching.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Security.Permissions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/System.Windows.Extensions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DotNet/WebApiTesti/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/DotNet/PalkanlaskentaDataMuunnos/.vs/PalkanlaskentaDataMuunnos
/DotNet/PalkanlaskentaDataMuunnos/PalkanlaskentaDataMuunnos/obj
/DotNet/PalkanlaskentaDataMuunnos/PalkanlaskentaDataMuunnos/bin/Debug/net7.0
/DotNet/LokitusDemo/.vs/LokitusDemo
/DotNet/LokitusDemo/LokitusDemo/obj
/DotNet/PalkanlaskentaDataMuunnos/.vs/ProjectEvaluation
/DotNet/LokitusDemo/LokitusDemo/bin/Debug/net7.0
/DotNet/LokitusDemo/.vs/ProjectEvaluation
/DotNet/XmlKaavaJaValidiointi/.vs/XmlKaavaJaValidiointi
/DotNet/XmlKaavaJaValidiointi/XmlKaavaJaValidiointi/obj
/DotNet/XmlKaavaJaValidiointi/XmlKaavaJaValidiointi/bin/Debug/net7.0
